<form method="post" action="{{ path('app_file_activate', {'id': file.id}) }}" onsubmit="return confirm('Voulez vous activer ce concours ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('activate' ~ file.id) }}">
   <button title="Activer pour le rendre public" class="btn badge badge-success">Activer</button>
</form>
