<form method="post" action="{{ path('app_file_delete', {'id': file.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer cet examen ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ file.id) }}">
    <button  title="Supprimer du système" class="btn badge badge-danger">Supprimer</button>
</form>
